@import '../../scss/variables.scss';

#main-frame-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (min-width: $min-width-desktop) {
        justify-content: center;
        align-items: center;
        margin: 100px 0;
    }

    #main-frame {
        display: flex;
        flex-direction: column;
        background-color: $primary-color;

        @media (min-width: $min-width-desktop) {
            width: 750px;
            min-height: 400px;
            border: 1px solid $border-color;
            padding: 40px;
        }

        @media (max-width: $max-width-tablet) {
            padding: 24px;
            flex-grow: 1;
        }
    }
}
