// colors
$primary-color: #ffffff;
$background-color: #f5f5f5;
$border-color: #00000038;
$text-color: rgba(0, 0, 0, 0.9);
$error-color: #cf4d4d;
$warning-color: #df9e28;
$active-color: forestgreen;

// screen sizes
$min-width-desktop: 992px;
$min-width-tablet: 768px;
$max-width-tablet: 991px;
$max-width-mobile: 767px;
